# Ignorer le dossier de configuration VS Code
.vscode/

# Ignorer les fichiers de workspace (si tu utilises les espaces de travail)
*.code-workspace

# Ignorer l'historique local (si tu utilises l'extension 'Local History')
.history/

# Ignorer le fixed_issue.i de mon répertoire
fixed_issue.i

# Ignorer le cache
.cache/

# Ignorer compile command
compile_commands.json
